/* App.css */

@font-face {
  font-family: silkscreen;
  src: url(./fonts/Silkscreen-Regular.ttf);
}

@font-face {
  font-family: silkscreenb;
  src: url(./fonts/Silkscreen-Bold.ttf);
}

body {
  font-family: 'Sora','Silkscreen', serif;
  font-size: 20px;
  background-color: #ffffff;
  color: #e4d161;
  text-align: start;
  padding-left: 0; 
  padding-right: 0;
  padding-top: 0;
}


h2 {
  margin: 0;
  padding: 0;
  padding-left: 1%;
  padding-top: 1%;
}

.movie-list {
  list-style: none;
  padding: 0;
  flex-direction: row;
  padding: 0%;
  max-width: 100%;
  color: whitesmoke;
  display: flex;
  gap: 0%;
  overflow-x: auto;
  max-height: 25%;
  scale: 1;
}

.movie-card {
  scale: 1;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.movie-poster {
  height: 60vh;
  width: 50%;
  transform: scale(0.6);
  display: flex;
  align-items: center;
}

.movie-poster img {
  max-width: 100%; /* Ensure the image doesn't exceed its container's width */
  border-radius: 10px;
}

.movie-poster-details {
  width: 50%;
  padding-left: 20px;
  z-index: 3;
}

.movie-poster-details h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #ffffff; /* Optionally, you can define the color here */
}

.movie-poster-details p {
  font-size: 14px;
  margin: 0;
  color: #ffffff; /* Optionally, you can define the color here */
}


.movie-card:click {
  transform: scale(1);
}

.movie-card img {
  scale: 0.5;
  border-radius: 0%;
}

.description {
  display: none; 
}

.movie-card:hover .description {
  display: block; 
}

.movie-details {
  flex-grow: 1; 
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.movie-details h3 {
  display: contents;
  font-size: 16px; 
  margin-bottom: 5px;
}

.movie-details p {
  font-size: 14px; 
  margin: 0;
  color: #00FFFF ; 
}


.Card{

  width: 100vw;
  padding-bottom: 0;

}

.random-movie{
  display: flex;
}